<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Grant MacMillan</h1>    
      <br>
      <div>

    <div style = "padding-left:50px">
      <img  src="/Assets/images/Headshot1.jpg" ALIGN="right" width="500" height="500"/>
    </div>

        <p style="font-size:30px;">My name is Grant MacMillan. I was born on december 24th 2002, and I have lived in Stouffville Ontario my whole life. 
        I am currently a student at Centennial College, studying game programming. I have worked at No Frills in stouffville since 2018. On my free time I 
        spend my time playing video games, going out with friends, and investing in the stock market. 
          </p>
        
      </div>  
      
    </div>
  </div>
</main>