<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Contact Me</h1>    
      <br>
      <div>

   

        <p style="font-size:30px;"> To Contact me please call or text me at #647-456-9232, or by email at grant.macmillan94@gmail.com. 

        I have also provided a input box that will driectly send me a message when filled out, you may use it as you like.

        Thank You!
          </p>
        
      </div>  
      
      <form action="/home">
  <p>
    <label>Title</label>
    <label>
      <input type="radio" name="title" value="mr">
      Mr
    </label>
    <label>
      <input type="radio" name="title" value="mrs">
      Mrs
    </label>
    <label>
      <input type="radio" name="title" value="miss">
      Miss
    </label>
  </p>
  <p>
    <label>First name</label>
    <input type="text" placeholder="first_name">
  </p>
  <p>
    <label>Last name</label>
    <input type="text" placeholder="last_name">
  </p>
  <p>
    <label>Email</label>
    <input type="email" placeholder="email">
  </p>
  <p>
    <label>Phone number</label>
    <input type="tel" placeholder="phone">
  </p>
  
  <p>
    <label>Country</label>
    <select>
      <option>Canada</option>
      <option>United Kingdom</option>
      <option>United States</option>
    </select>
  </p>
  
  <p>
  After sending you will be redirected to the Home Page, and I will contact you as soon as I can. <br>
    <button>
      Send
    </button>
    
  </p>
</form>

    </div>
  </div>
</main>