<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Contact Me</h1>    
      <br>
      <div>

   

        <p style="font-size:30px;"> To Contact me please call or text me at #647-456-9232, or by email at grant.macmillan94@gmail.com. 

        I have also provided a input box that will driectly send me a message when filled out, you may use it as you like.

        Thank You!
          </p>
        
      </div>  
      
    </div>
  </div>
</main>