<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Welcome to my Personal Portfolio!</h1>    
      <br>
      <div>
        <p style="font-size:30px">This website is my personal portfolio! You can access plenty of information about me by following the navigation bar at the top of the screen, or by clicking one of the following links...
            <br><br>
          <a href="/about">About Me</a><br>
          <a href="/project">Projects</a><br>
          <a href="/services">Services</a><br>
          <a href="/contact">Contact Me</a><br>

        </p>
      </div>  
      <br>
      <p style="font-size:30px">My mission is to deliver exceptional service and support for all your computer related needs!</p>
    </div>
  </div>
</main>