<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Projects</h1>    
      <br>

        <div>
        <table>
        <tr>
            <td> <p style="font-size:20px">For one of my projects at Centennial College we worked with 3d modeling and anaimation. I took great interest to 3d modeling. In this image you can see 
            one of my better 3d models. I also anaimated these model to have various actions, such as walk, run and jump.
          </p> </td>
            
            <td><img style = "display:block: margin-top:10px: margin-bottom: 10px: margin-left: auto: margin-right:auto;" src="/Assets/images/Project1.PNG" class="card-img-top" alt="..." style="width:200%"></td>
        </tr>
        <tr>
            <td> <p style="font-size:20px">In my first semester at Centennial College in the game programming program, we were asked to create a 2d video game with our group memebers. 
            The game was called DeTechtive-Noir and it was a top down 2d murder mystery game. I focused mainly on the UI elements of the game, including the menus, in game dialog and sound effects. 
          </p> </td>
            
            <td><img style = "display:block: margin-top:10px: margin-bottom: 10px: margin-left: auto: margin-right:auto;" src="/Assets/images/Project2.PNG" class="card-img-top" alt="..." style="width:200%"></td>
        </tr>
        <tr>
        <td> <p style="font-size:20px">A Project I am currently working on is a game called Origins' Fall. It is still in its Alpha stages of developement but we are making swift progress.
        I am working on this project with a team of 4 other people. I have high hopes for this project since all of us are now more experienced with Unity2d, and coding in general.
          </p> </td>
            
            <td><img style = "display:block: margin-top:10px: margin-bottom: 10px: margin-left: auto: margin-right:auto;" src="/Assets/images/Project3.PNG" class="card-img-top" alt="..." style="width:200%"></td>
            
        </tr>

        
    </table>

<br><br><br><br><br>
       

        </div> 
        
   </div>
  </div>
</main>
