<main class="container">
  <div class="jumbotron">
    <h1 class="display-2"></h1>
    <div class="container">
    <br>
      <h1>Services</h1>    
      <br>
      <div>

    <div style = "padding-left:50px">
      <img  src="/Assets/images/coding.jpeg" ALIGN="right" Width = "700"/>
    </div>
    
    <div style = "padding-left:50px">
      <img  src="/Assets/images/hardware.jpg" ALIGN="right" Width = "700" />
    </div>

        <p style="font-size:30px;">
        Listed below are some skills and services I could provide to the workplace.
        <ul style="font-size:30px;">
            <li>Programming with C#</li>
            <li>HTML</li>
            <li>Java Script</li>
            <li>Building Computers</li>
            <li>2d Video Game Design</li>
            <li>3d Modeling</li>
            <li>Tech Support</li>
        </ul>
        </p>
        
      </div>  
      
    </div>
  </div>
</main>